.gb-thietkethicong_hoanmy{
  padding: 50px 0;
  .gb-introhome_hoanmy-right{
    h2{
      font-size: 40px;
      font-weight: bold;
      color: $color-main-seafood;
      text-align: center;
    }
    img{
      width: 30%;
      margin: 0 auto;
    }
    p{
      font-size: 14px;
      line-height: 25px;
      margin-top: 10px;
      color: #777777;
      text-align: justify;
      strong{
        font-size: 14px;
        font-weight: bold;
        color: #111;
      }
    }
    ul{
      li{
        position: relative;
        font-size: 14px;
        line-height: 25px;
        margin-top: 10px;
        color: #777777;
        text-align: justify;
        padding-left: 30px;
        &:before{
          content: "+";
          font-size: 22px;
          font-weight: bold;
          position: absolute;
          top: 5px;
          left: 0px;
          color: #AA0F0F;
          width: 22px;
          height: 22px;
          line-height: 20px;
          border: 2px solid #AA0F0F;
          text-align: center;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          -webkit-border-radius: 50%;
        }
      }
    }
  }
}