.footer-address-seafood ul {
  position: relative;
  padding-bottom: 20px; }
  .footer-address-seafood ul li {
    position: relative;
    padding: 0;
    border: 0;
    margin-bottom: 5px;
    color: #979797;
    font-size: 14px;
    line-height: 30px; }
    .footer-address-seafood ul li .hl {
      font-weight: bold;
      width: 20%;
      float: left; }
    .footer-address-seafood ul li .text {
      width: 80%;
      float: left; }
